.product {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.product img {
  width: 286px;
  height: 286px;
  border-radius: 8px;
  margin: 8px;
}

.product-details {
  padding: 14px;
}

.product-details h6 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;

  color: #0e161a;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;

  color: #0e161a;
}

.manufacturer {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;

  color: #2a414f;
  margin-top: 45px;
  margin-bottom: 10px;
}

.rating {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;

  color: #2a414f;
  margin-bottom: 10px;
}

.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background: #e2c090;
}
